section {
    display: flex;
    justify-content: center;
}

section form {
    width: auto;
    display: flex;
    flex-direction: column;
}

section label input {
    /* width: 250px; */
}

section button {
    width: 100%;
    height: 35px;
    color: #fff;
    background-color: forestgreen;
    border-color: green;
}





